html, body{
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.box {
  margin-bottom: 1.8rem;
}

button {
  display: block;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
}

#submit {
  width: 100%;
  font-size: 1.8rem;
}

#errorMessage {
  color: red;
  font-size: 1.2rem;

}