html, body{
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}
label {
  display: block;
}
input {
  display: block;
  font-family: sans-serif;
}
button {
  display: block;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  width: 100%;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.box {
  margin-bottom: 1.8rem;
  text-align: center;
}

#submit {
  width: 100%;
  font-size: 1.8rem;
}

#errorMessage {
  color: red;
  font-size: 1.2rem;

}

#profile {
  max-width: 22rem;
  overflow-wrap: anywhere;
}
#profile div {
  margin: 1rem;
}
#profile button {
  width: 100%;
}

#homeLogo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 72px;
  z-index: 1;
}

* {
 padding: 0;
 margin: 0;
}
body{
 overflow: hidden;
 font-size: 2.8rem;
 font-family: 'Dongle';
}

#root {
 width: 100vw;
 height: 100vh;
 position: absolute;
 box-sizing: border-box;
}

body h1 {
  position: absolute !important; /* Outside the DOM flow */
  height: 0.1px; 
  width: 0.1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
.intro {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  transition: opacity 2s linear;
}
.topWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  opacity: 1;
  transition: opacity 1s linear;
}

.bottomWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Dongle';
  width: 100%;
  max-width: 500px;
  opacity: 1;
  transition: opacity 1s linear;
}

.loading-indicator {
  position: absolute;
  opacity: 0;
  transition: opacity 1s linear;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
}

.loading-indicator img {
  width: 100px;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.innerContainer {
  width: 75%;
}
input#creatureName {
  width: 100%;
  height: 50px;
  margin-bottom: 3.0rem;

  font-size: 28px;
  font-family: 'Dongle';
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0);
}
button#submit {
  font-family: 'Dongle';
  height: 50px;
  width: 100%;
  border-radius: 30px;
  font-size: 1.8rem;
  border: 2px solid #000000;
  background-color: #ffffff;
  opacity: 0.85;
}
button#accessBtn{
  margin-bottom: 0;
  border-radius: 100px;
  width: 65px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#accessImg{
  width: 36px;
  height: 50px;
  margin-left: 5px;
}

.accessWrapper {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  width: 100%;
}
.accessibility {
  display: flex;
  justify-content: space-between;
}
button{
  margin-bottom: 0;
  font-family: 'Dongle';
  border-radius: 30px;
  border: 2px solid #000000;
  background-color: #ffffff;
  opacity: 0.85;
}
button#evolve {
  display: inline;
  width: 100px;
  height: 50px;
  font-family: 'Dongle';
  font-size: 28px;
  margin-bottom: 0;

}
button#move {
  display: inline;
  width: 100px;
  height: 50px;
  font-family: 'Dongle';
  font-size: 28px;
  margin-bottom: 0;

}

.root-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}

div#stats {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: max(200px, 10vw, 10vh);
  height: max(100px, 6vh, 6vw);
  opacity: 0.8;
  user-select: none;
  font-family: sans-serif !important;
  font-size: 10pt;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-25%) translateY(-25%) scale(0.5);  
}

.gradient-lichen {
  background: linear-gradient(0deg, #ffffff, #0cef42, #ffffff, #fd880b, #ffffff);
  background-size: 500% 500%;

  -webkit-animation: Animation 40s ease infinite;
  -moz-animation: Animation 40s ease infinite;
  animation: Animation 40s ease infinite;
}

.gradient-mushroom {
  background: linear-gradient(90deg, #ffffff, #0cef42, #ffffff, #fd880b, #ffffff);
  background-size: 500% 500%;

  -webkit-animation: Animation 40s ease infinite;
  -moz-animation: Animation 40s ease infinite;
  animation: Animation 40s ease infinite;
}

.gradient-moss {
  background: linear-gradient(45deg, #ffffff, #0cef42, #ffffff, #fd880b, #ffffff);
  background-size: 500% 500%;

  -webkit-animation: Animation 40s ease infinite;
  -moz-animation: Animation 40s ease infinite;
  animation: Animation 40s ease infinite;
}


@-webkit-keyframes Animation {
  0%{background-position:10% 0%}  
  50%{background-position:10% 100%}  
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:10% 100%}  
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}  
  50%{background-position:10% 100%}  
  100%{background-position:10% 0%}
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 16s linear infinite;
  -moz-animation: rotating 16s linear infinite;
  -ms-animation: rotating 16s linear infinite;
  -o-animation: rotating 16s linear infinite;
  animation: rotating 16s linear infinite;
}