html, body{
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}
label {
  display: block;
}
input {
  display: block;
  font-family: sans-serif;
}
button {
  display: block;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  width: 100%;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
.box {
  margin-bottom: 1.8rem;
  text-align: center;
}

#submit {
  width: 100%;
  font-size: 1.8rem;
}

#errorMessage {
  color: red;
  font-size: 1.2rem;

}

#profile {
  max-width: 22rem;
  overflow-wrap: anywhere;
}
#profile div {
  margin: 1rem;
}
#profile button {
  width: 100%;
}

#homeLogo {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 72px;
  z-index: 1;
}

* {
 padding: 0;
 margin: 0;
}
body{
 overflow: hidden;
}

#root {
 width: 100vw;
 height: 100vh;
 position: absolute;
 box-sizing: border-box;
}

.root-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}

div#stats {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: max(200px, 10vw, 10vh);
  height: max(100px, 6vh, 6vw);
  opacity: 0.8;
  user-select: none;
  font-family: sans-serif !important;
  font-size: 10pt;
  transform: translateX(50%) translateY(25%) scale(0.7) translateX(-50%) translateY(-50%);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-25%) translateY(-25%) scale(0.5);  
}